[submodule "k-means"]
	path = k-means
	url = https://github.com/Sidnicious/longcamera.git
[submodule "motion-blur"]
	path = motion-blur
	url = https://github.com/Sidnicious/longcamera.git
[submodule "greencamera"]
	path = greencamera
	url = https://github.com/Sidnicious/longcamera.git
[submodule "longcam-workers"]
	path = longcam-workers
	url = https://github.com/Sidnicious/longcamera.git
