[submodule "k-means"]
	path = k-means
	url = git://github.com/Sidnicious/longcamera.git
[submodule "greencam"]
	path = greencam
	url = git://github.com/Sidnicious/longcamera.git
[submodule "motion-blur"]
	path = motion-blur
	url = git://github.com/Sidnicious/longcamera.git
